@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #555;
  --background: #F9F9F9;
  --outline: #888;
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
}

a {
  text-decoration: underline;
}

h1 {
  font-size: 1.5rem;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem 2rem;
}
@media screen and (max-width:480px) {
  main {
    padding: 1rem 1rem;
  }
}

ul.dashed {
  margin: 0;
  list-style-type: none;
}

ul.dashed > li {
  text-indent: -1.4rem;
  padding-left: 1.4rem;
  font-size: 0.875rem;
  line-height: 2rem;
}

ul.dashed > li:before {
  content: "-";
  padding-right: 1rem;
}

::selection {
  background-color: #cadaf1;
}