@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #555555;
  --background: #F9F9F9;
  --outline: #888;
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
}

a {
  text-decoration: underline;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem 2rem;
}

.root-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
  grid-template-areas:
    "about about works contact"
    "about about works contact"
    "twitter instagram github qiita"
    "twitter instagram github sizume";
}

.root-container > * {
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  padding: 1.25rem;
}

.about {
  grid-area: about;
  aspect-ratio: 2/1;
}

@media screen and ( max-width:959px) {
  .root-container {
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(6, 1fr);*/
    grid-template-areas:
    "about about works works"
    "about about works works"
    "contact contact twitter twitter"
    "contact contact twitter twitter"
    "instagram instagram qiita qiita"
    "github github sizume sizume"
  }

  .about {
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width:480px) {
  main {
    padding: 1rem 1rem;
  }

  .root-container {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-rows: repeat(10, 1fr);*/
    grid-template-areas:
    "about about"
    "about about"
    "works works"
    "works works"
    "contact contact"
    "twitter twitter"
    "instagram instagram"
    "github github"
    "qiita qiita"
    "sizume sizume"
  }

  .about {
    aspect-ratio: unset;
  }
}

.works {
  grid-area: works;
}
.contact {
  grid-area: contact;
}
.twitter {
  grid-area: twitter;
  background-color: #000;
  color: #FFF;
}
.twitter * a {
  color: #848D97;
}

.instagram {
  grid-area: instagram;
  background-color: #FFF;
  color: #000;
}
.github {
  grid-area: github;
  background-color: #24292F;
  color: #FFF;
}
.sizume {
  grid-area: sizume;
  background-color: #F7FAFC;
  color: #000;
}
.qiita {
  grid-area: qiita;
  background-color: #FFF;
  color: #000;
}

.common-item {
  border: 1px solid var(--outline);
}

ul.dashed {
  margin: 0;
  list-style-type: none;
}

ul.dashed > li {
  text-indent: -1.75em;
  padding-left: 1.75em;
  font-size: 0.875rem;
  line-height: 2rem;
}

ul.dashed > li:before {
  content: "-";
  padding-right: 1rem;
}